* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

header {
    outline-style: solid;
    background-color: #def193;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
    margin: -0.4em;
}

nav {
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline-block;
    padding: 10px;
}

.nav-branding {
    font-size: large;
}