* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#card-container {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

#card-container .card {
  flex: 1;
  margin: 1em;
  padding: 1.5em;
  background: linear-gradient(to bottom, #f0f0f0 0%, #d4d4d4 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
}

#card-container .card:hover {
  transform: scale(1.05);
}

#card-container .card a {
  text-decoration: none;
  font-size: x-large;
  color: black;
}

#card-container .card img {
  max-height: 10em;
  object-fit: cover;
}

#card-container .card p {
  font-size: 1.2rem;
  font-weight: 100;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-link:hover {
  text-decoration: underline;
}
