#word-input {
    border: none;
    border-bottom: 2px solid #000; 
    font-size: 24px;
    width: 100px; 
  }
  
  .quiz-card {
    text-align: center;
    background-color: white;
    border: 2px solid #ccc;
    margin: 20px auto;
    padding: 80px;
    border-radius: 5px;
    max-width: 400px;
    min-width: 200px;
  }
  
  .quiz-submit button {
    margin: 6px;
    background-color: #ffc6c7;
  }

  .quiz-buttons-container {
    display: flex;
    justify-content: space-between;
  }