* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

header {
  outline-style: solid;
  background-color: #def193;
  border-radius: 10px;
  padding: 0.5em;
}

nav {
  width: 95%;
  margin: auto;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline-block;
  padding: 10px;
}

.nav-branding {
  font-size: large;
}

.topnav-search {
  text-align:center;
  top: 25px;
  width: 100%;
  margin-top: 5%;
}

.sidebar {
  font-size: 16px;
  margin-right: 70%;
  margin-left: 1px;
  width: 20%;
  height:30%;
}

.filter-box {
  background-color:#def1936c;
  border: 1px solid #d9ec89;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 0%;
  border-radius: 10%;
}

.filter-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter-box input{
  display: block;
  width:200px;
  padding-right: 1px;
}

h1 {
  text-align:center;
  top: 25px;
  width: 100%;
}

.card-deck {
    flex:0 0 300px;
    justify-content:center;
    display:flex;
    margin-top: 0%;
  }
  
.card {
    display:flex;
    size:0 20 200px;
    flex:0 0 300px;
    background-color:#d8ec899c;
    margin:1.5rem;
    border-radius:50px;
    box-shadow:0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

img {
    width:200px;
    height:150px;
    margin:.5rem;
    border-radius:50px;
}

.card img {
  border-radius:50px;
}

div h3 {
  text-align:center;
  margin:auto;
}

.material-icons {
  position:relative;
  top:5px;
}