/* Global Styles */

* {
  box-sizing: border-box;
}

main {
  text-align: center;
  margin-top: 10em;
}

h1, h2 {
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
  align-items: center;
  color: #2d334a;
}

.navbar-logo img {
  height: 50px;
  width: auto;
  margin-right: 25px;
}

header {
  background-color: #def193;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Nav styles */

nav {
  margin: auto;
  min-height: 2.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav li:hover {
  background-color: #c6d885;
  border-radius: 5px;
}

nav img:hover {
  animation: smoothRotate 1s ease-in-out infinite;
  transform: scale(1.1);
}

/* for logo hover effect */
@keyframes smoothRotate {
  0%, 100% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(10deg);
  }
}

/* flip card css */

.flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flip-card {
  text-align: center;
  background-color: white;
  border: 2px solid #ccc;
  margin: 20px auto;
  padding: 40px; /* Adjust padding for better spacing */
  border-radius: 5px;
  max-width: 400px;
  min-width: 200px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-back p {
  text-align: center;
}

.flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotateY(180deg);
}

.speech-type,
.object-type{
  padding: 16px;
  background-color: #ffc6c7;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

button,
.quiz button {
  background-color: #def193;
  color: #2d334a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  margin: 0 auto;
}

.quiz-buttons-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.quiz-next button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  
}

.quiz-last button {
  margin-right: 10px;
}

button:hover,
.quiz button:hover {
  background-color: #ffd803;
  color: #2d334a;
}

/* Quiz CSS */

.quiz-card label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

#word-input {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 24px;
  width: 100px;
}

.quiz-card {
  text-align: center;
  background-color: white;
  border: 2px solid #ccc;
  margin: 20px auto;
  padding: 40px; /* Adjust padding for better spacing */
  border-radius: 5px;
  max-width: 400px;
  min-width: 200px;
}

.quiz-submit button {
  margin: 0 auto;
  background-color: #ffc6c7;
  text-align: center;
  display: block;
}

/* List Builder CSS */

.top-nav {
  display: flex;
  align-items: center;
}

.input-bar {
  background-color: #def193;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;
  margin-bottom: 1em;
  align-items: center;
}

.input-bar .search-icon {
  padding-left: 4px;
}

.input-bar input[type="text"] {
  background-color: #def193;
  border: none;
  height: 2em;
  width: 100%;
  font-size: large;
  padding: 0.5em;
  padding-left: 1em;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.index-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #def193;
  padding-bottom: 15em;
  padding-top: 1em;
  border-radius: 10px;
  text-align: center;
}

.tags {
  flex: 1;
  margin-left: 10%;
  margin-right: 5%;
  background-color: #def193;
  width: 20%;
  padding-bottom: 15em;
  padding-top: 1em;
  border-radius: 10px;
  text-align: center;
}

.word-buttons {
  margin-top: 5em;
  margin-left: 5%;
}

.tag-highlight {
  background-color: orange;
  border-radius: 15em;
}

/* HomeCard CSS */

#card-container {
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

#card-container .card {
  flex: 1;
  margin: 1em;
  padding: 1.5em;
  background: linear-gradient(to bottom, #f0f0f0 0%, #d4d4d4 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
}

#card-container .card:hover {
  transform: scale(1.05);
}

#card-container .card a {
  text-decoration: none;
  font-size: x-large;
  color: black;
}

#card-container .card img {
  max-height: 10em;
  object-fit: cover;
}

#card-container .card p {
  font-size: 1.2rem;
  font-weight: 200;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-link:hover {
  text-decoration: underline;
}

/* Welcome CSS */

.welcome {
  padding-top: 2em;
  text-align: center;
}

.welcome h1 {
  font-size: 2rem;
  font-weight: 200;
}

.welcome h1 img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 2em;
  margin-left: 0.2em;
}

/* .cite { - to use later once citation is made
  padding-top: 50px;
  text-align: left;
} */

/* Search CSS */
.card-deck {
  flex: 0 0 300px;
  justify-content: center;
  display: flex;
}

.card-deck .card {
  display: flex;
  flex: 0 0 300px;
  background-color: rgba(127, 255, 180, 0.236);
  margin: 1.5rem;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.card-deck .card img {
  width: 200px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50px;
}

.topnav-search {
  text-align: center;
  top: 25px;
  width: 100%;
  margin-top: 5%;
}

.top-nav {
  align-items: center;
}

.sidebar {
  font-size: 16px;
  margin-right: 70%;
  width: 20%;
  height: 30%;
  background-color: #def1936c;
  border: 1px solid #d9ec89;
  border-radius: 10%;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.filter-box .filter-icon {
  padding-left: 4px;
}

.filter-box input[type="text"] {
  background-color: #def1936c;
  border: none;
  height: 2em;
  width: 100%;
  font-size: large;
  padding-left: 1em;
}

.filter-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter-box input {
  display: block;
  width: 200px;
  padding-right: 1px;
}

.card-deck h2 a {
  text-decoration: none;
  color: black;
}

footer {
  text-align: center;
}

.footer-content {
  font-size: 14px;
}

/* Media Queries */
/* Tablets */
@media(min-width:992px) {

  .card {
    margin: 50px 100px;
  }

  .card-deck .card {
    flex: 0 0 auto;
    margin: 20px 50px;
  }

  .filter-box {
    background-color: #def1936c;
    border: 1px solid #d9ec89;
    padding: 10px;
    width: 16em;
    margin-left: 10px;
    margin-top: 0%;
    border-radius: 10%;
  }

  .sidebar {
    width: 90%;
    padding-left: 5px;
    margin-left: 5%;
  }
}

/* Mobile */
@media (min-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav li {
    padding: 5px 0;
  }

  main {
    margin-top: 20em;
  }

  .card-container,
  .card-deck {
    flex-direction: column;
    padding: 0 1em;
  }

  .card-container .card,
  .card-deck .card {
    margin: 20px 0;
    flex: 1;
    width: 100%;
  }

  .card {
    margin: 20px 20px;
  }

  .card-deck .card img {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }

  .filter-box {
    background-color: #def1936c;
    border: 1px solid #d9ec89;
    padding: 10px;
    width: 16em;
    margin-left: 10px;
    margin-top: 0%;
    border-radius: 10%;
  }

  .sidebar {
    width: 80%;
    padding-left: 0;
    margin-left: 0;
  }
}

/* Mobile - Small */
@media (min-width: 480px) {
  nav {
    justify-content: space-around;
    align-items: center;
  }

  .navbar-logo img {
    height: 40px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  main {
    margin-top: 16em;
  }

  .card {
    margin: 20px 10px;
  }

  .card-container {
    padding: 0;
  }

  .card-deck .card {
    flex: 1;
    width: 100%;
  }

  .card-deck .card img {
    width: 150px;
    height: auto;
    margin: 0.5rem 0;
  }

  .input-bar {
    width: 40%;
  }

  .list p,
  .tags p {
    padding: 5px;
  }
  .filter-box {
    background-color: #def1936c;
    border: 1px solid #d9ec89;
    padding: 10px;
    width: 16em;
    margin-left: 10px;
    margin-top: 0%;
    border-radius: 10%;
  }

  .sidebar {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
}