* {
  box-sizing: content-box;
  font-family: "Inter", sans-serif;
}

main {
  font-size: 20px;
  margin-top: 13em;
  /* margin-bottom: 30px; */
}

h1,
h2 {
  text-align: center;
  align-items: center;
  color: #2d334a;
}

header {
  background-color: #def193;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.auth-btn {
  background-color: #9bb47f !important;
  transform: translateY(-10%);
}

/* nav bar */
header .logoImg {
  height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  gap: 10px;
  margin: 10px 0;
}

nav li {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

nav li:hover {
  background-color: #c6d885;
  border-radius: 5px;
  cursor: pointer;
}

header .logoImg:hover {
  animation: smoothRotate 1s ease-in-out infinite;
  transform: scale(1.1);
  cursor: pointer;
}

nav .material-icons {
  transform: translateY(10%);
}

nav .userImg {
  transform: translateY(10%);
  width: 40px;
  height: 40px; 
  object-fit: cover; 
  border-radius: 50%;
}

header .nav-item {
  display: flex;
  align-items:center;
}



/* for logo hover effect */
@keyframes smoothRotate {
  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }
}

/* Sign-in CSS */
.sign-in {
  margin-top: 15em;
}


/* Homecard CSS */

.card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 200px;
}

.card-container .card {
  flex: 1;
  padding: 1.5em;
  background: linear-gradient(to bottom, #f0f0f0 0%, #d4d4d4 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 20px auto;
  width: calc(100% - 40px);
}

.card-container .card:hover {
  transform: scale(1.05);
}

.card-container .card a {
  text-decoration: none;
  font-size: x-large;
  color: black;
}

.card-container .card img {
  width: 100%;
  height: auto;
  max-height: 10em;
  object-fit: cover;
  padding-bottom: 10px;
}

.card-container .card h2 {
  padding-top: 10px;
  font-size: 1.5rem;
  font-weight: 300;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card-link:hover {
  text-decoration: underline;
}

/* Welcome CSS */

.welcome {
  padding-top: 0em;
  text-align: center;
}

.welcome h1 {
  font-size: 2rem;
  font-weight: 200;
}

.welcome h1 img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 2em;
  margin-left: 0.2em;
}

/* flip card css */

.flip-card {
  text-align: center;
  background-color: white;
  border: 2px solid #ccc;
  margin: 20px auto;
  padding: 40px;
  border-radius: 5px;
  max-width: 400px;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transform-origin: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  height: auto;
  position: inherit;
  box-sizing: content-box;
  backface-visibility: hidden;
  display: none;
  transition: opacity 0.6s, visibility 0.6s;
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.flip-card-back {
  flex-direction: column;
  transform: rotateY(180deg);
}

.flip-card img {
  max-width: 100%;
  max-height: 20em;
  object-fit: cover;
  border-radius: 15%;
}

.flipped {
  transform: rotateY(180deg);
}

.flipped .flip-card-front {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.flipped .flip-card-back {
  display: flex;
  z-index: 2;
}

.flip-card-back p {
  text-align: center;
}

.flip-card:not(.flipped) .soundButton {
  padding-top: 20px;
}

.speech-type,
.object-type {
  padding: 16px;
  background-color: #ffc6c7;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

/* Quiz CSS */


.quiz-container {
  padding-top: 13em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100%; 
  box-sizing: border-box;
}

.quiz-content {
  width: 100%;
}

.quiz-sidebar {
  margin-top: 4em;
  width: 80%; 
  top: 330px;
  /* position: absolute; */
}

button,
.quiz button {
  background-color: #def193;
  color: #2d334a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  justify-content: center;
  margin: 0 auto;
}

.quiz-buttons-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.quiz-next button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.quiz-last button {
  margin-right: 10px;
}

button:hover,
.quiz button:hover {
  background-color: #ffd803;
  color: #2d334a;
}

.quiz {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.searchTitle {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quiz-card label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.quiz-card #word-input {
  border: none;
  border-bottom: 2px solid #000;
  font-size: 24px;
  width: 200px;
  text-align: center;
}

/* .quiz-card #word-input {
  width: 100px !important;
} */

.quiz-card {
  text-align: center;
  background-color: white;
  border: 2px solid #ccc;
  margin: 20px auto;
  padding: 40px;
  border-radius: 5px;
  max-width: 360px;
  width: 100%; 
  box-sizing: border-box; 
  flex-shrink: 0;
}


.quiz-submit button {
  margin: 0 auto;
  background-color: #ffc6c7;
  text-align: center;
  display: block;
}

.exitButtonContainer {
  padding-left: 20px;
}

.exitButton {
  position: absolute;
}

/* List Builder CSS */

.searchResultWord:hover {
  background-color: #c6d885;
  border-radius: 5px;
  cursor: pointer;
}


.top-nav {
  display: flex;
  align-items: center;
}

.input-bar {
  display: flex;
  justify-content: center;
}

.input-bar input[type="text"] {
  background-color: #def193;
  border: none;
  height: 2em;
  width: 100%;
  font-size: large;
  padding: 0.5em;
  padding-left: 1em;
  border-radius: 10px;
  max-width: 300px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  flex: 1;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #def193;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.tags {
  flex: 1 1;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #def193;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.word-buttons {
  margin-top: 5em;
  margin-left: 2%;
}

.dropdown-menu.show {
  z-index: 10;
}

.topnav-search {
  text-align: center;
  top: 25px;
  width: 100%;
  margin-top: 5%;
}

.top-nav {
  align-items: center;
}

.sidebar {
  font-size: 16px;
  margin-right: 70%;
  width: 100%;
  height: 30%;
  background-color: #def1936c;
  border: 1px solid #d9ec89;
  border-radius: 10%;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.filter-box .filter-icon {
  padding-left: 4px;
}

.filter-box input[type="text"] {
  background-color: #def1936c;
  border: none;
  height: 2em;
  width: 100%;
  font-size: large;
  padding-left: 1em;
}

.filter-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter-box input {
  display: block;
  width: 200px;
  padding-right: 1px;
}

footer {
  padding-top: 50px;
  text-align: left;
  font-size: 14px;
  margin: auto;
}

footer p {
  margin-bottom: 0;
}

/* Search & Filter */
.filter .card-deck:hover {
  transform: scale(1.15);
}

.filter .card-deck {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em;
  justify-content: space-around;
}

.filter .card {
  width: 20em;
  height: 15em;
  margin: 1em;
  box-sizing: border-box;
  overflow: hidden;
  align-items: center;
}

.filterBar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tagNames {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* AccountPage CSS */


.account-container {
  margin-top: 18em;
}

.account-container .card {
  max-width: 340px;
  margin: 2rem auto;
  text-align: center;
}


.userImg {
  width: 150px;
  height: 150px; 
  object-fit: cover;
  border-radius: 50%; 
  margin: 0 auto 1rem;
}

.image-upload-form {
  display: flex;
  align-items: center;
  justify-content: start; 
  gap: 0.5rem; 
}

.displayNameSettings {
  margin-top: 1rem; 
}

.displayNameSettings form {
  display: flex;
  align-items: center;
  justify-content: start; 
  gap: 0.5rem; 
}

.displayNameSettings input {
  flex-grow: 1; 
  max-width: 250px; 
}

.profilePhotoSettings {
  margin-bottom: 1rem; 
}


.image-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries  */
@media (min-width: 598px) {
  .quiz-container {
    /* width: calc(70% - 1rem);  */
  }

  main {
    margin-top: 10em;
  }
  .card {
    margin: 20px 10px;
  }

  .card-container {
    padding: 0;
    flex-direction: column;
  }

  .account-container {
    margin-top: 14em;
  }

  .sign-in {
    margin-top: 11em;
  }

  .quiz-card {
    /* width: calc(70% - 1rem);  */
  }
}


  @media (min-width: 768px) {
    main {
      margin-top: 10em;
    }

    .account-container {
      margin-top: 13em;
    }

    .card-container {
      flex-direction: row;
      /* margin: 100px auto; */
      padding: 0 1em;
      max-width: 768px;
    }

    .card-container .card {
      box-sizing: border-box;
    }

    .sign-in {
      margin-top: 11em;
    }    
  }

  @media (min-width: 992px) {

    .account-container {
      margin-top: 10em;
    }

    main {
      margin-top: 8em;
    }

    .welcome {
      margin-bottom: 2em;
    }

    header {
      flex-direction: row;
      justify-content: flex-start;
      padding-bottom: 20px;
      padding-top: 10px;
    }

    nav {
      margin-left: auto;
    }
  
    nav ul {
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      gap: 10px;
      padding-right: 20px;
    }

    /* .nav-btn {
      padding-right: 20px;
    }
   */
  
    nav li {
      padding: 10px;
    }


    .card-container {
      flex-direction: row;
      margin: auto;
      max-width: 992px;
    }

    .card-container .card {
      width: calc(100% - 10px);
    }

    .sign-in {
      margin-top: 8em;
    }    
    
    .quiz-container {
      /* flex-direction: row; 
      justify-content: space-between;  */
    }
  
    .quiz-sidebar {
      width: 30%; 
      margin-top: 0; 
    }
  }
